<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Categories</title>
</head>
<body>
    <h1>Categories Add</h1>
    <form method="post" action="">
        <label>Name:
            <input name="name" placeholder="Ex: Clothing Accessories">
        </label>
        <br>
        <label>Slug:
            <input name="slug" placeholder="Ex: clothing-accessories">
        </label>
        <br>
        <button>Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>